.modalSlice {
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    margin: 0 auto;
    width: 1200px;
    gap: 50px;
}

.modalInner {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 30px;

}

.title {
    font-size: 24px;
    font-weight: 700;
}

.img {
    width: 600px;
}