.container {
    width: 1200px;
    margin: 0 auto;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.inputs input {
    width: 200px;
    border-radius: 10px;
    padding: 5px 10px;

}

.inputs button {
    border-radius: 10px;
    padding: 5px;
}