.con {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8685859f;
    border: 1px solid rgba(68, 62, 62, 0.144);
    width: 350px;
    margin: 0 auto;
    padding: 1px;
    border-radius: 50px;
}

.btn {
    background-color: #25aae79f;
    width: 150px;
    border-radius: 50px;
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    border: transparent;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.active {
    background-color: white;
}

.containers {
    margin: 0 auto;
    width: 300px;
    height: 600px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 16px;

}